

<div class = "container">
  <div class = "row">
    <div class = "offset-lg-2 col-lg-10">
      <h3>商品一覧</h3><h6>全<%= @items.count %>件</h6>
    </div>
    <div class = "offset-lg-2 col-lg-10 d-flex flex-wrap">
      <% @items.each do |item| %>
        <div class = "ml-5">
          <%= image_tag item.thumbnail_image(180, 120) %><br>
          <%= link_to item.name, item_path(item.id) %><br>
          ¥<%= (item.price*1.1).floor %>
        </div>
      <% end %>
    </div>

  </div>
</div>